/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Vast+Shadow&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*::-webkit-scrollbar{
    width: 1rem;
    height: 1rem;
}

*::-webkit-scrollbar-thumb{
    box-shadow: var(--innerShadow);
    border-radius: 3rem;
}

/* Mes variables */
:root {
    --bg: #012E40;
    --title: #F26363;
    --navBar: #074660;
    --mainButton: #CBF23D;
    --para: #FFF;

    /* Shadow */
    --titleShadow: 0px 0px 20px rgba(0, 0, 0, .2),4px 4px  12px #000A02, -4px -4px 10px rgba(148, 224, 255, 0.25);
    --boxShadow: 6.01px 6.01px 7px #011720, -5.01px -5.01px 10px #024560;
    --innerShadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2), inset 4px 4px 12px #000A0E, inset -4px -4px 10px rgba(148, 224, 255, 0.25);
    --paraShadow: 0px 3px 3px #012E40C4;
    --bgShadow: linear-gradient(145deg, #013950, #012330); 
    --radiusShadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    --navShadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 1px 4px 10px #000A0E, -1px -2px 5px rgba(148, 224, 255, 0.25);
    --linkedinShadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 2px 2px 5px rgba(0, 10, 14, 0.41), -1.5px -1px 2px #EFFFB6;
}

@media screen and (max-width: 500px){
    *{
        font-size: 62.5%;
        font-family: 'Balsamiq Sans', Arial, serif;
    }
    
    body{
        background-color: var(--bg);
        color: var(--para);
    }

    .head-flex {
        display: flex;
        height: 54rem;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0 3rem 0;
    }

    .test2, .test3{
        display: none;
    }

    .head-flex p{
        max-width: 36rem;
        font-size: 4.7rem;
        letter-spacing: -0.17em;
        text-align: justify;
        overflow-wrap: break-word;
        color: #C9505000;
        background-color: #000000A4;
        text-shadow: var(--paraShadow);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    .circle{
        display: flex;
        height: 25rem;
        width: 25rem;
        justify-content: center;
        align-items: center;
        background: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 100%;
        background-position: center;
        margin: 3.2rem 0rem;
        z-index: 1;
    }

    .curve{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img{
        background-image: url(./img/profil1.jpeg);
        box-shadow: var(--bgShadow);
        width: 23.5rem;
        height: 23.5rem;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    h1{
        text-align: center;
        font-size: 2.1rem;
        letter-spacing: 2rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
    }

    .container{
        height: 60rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
    }

    .flex-box{
        display: flex;
        height: 58rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 4rem;
    }

    h2{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 6rem;
        text-align: justify;
        line-height: 5rem;
        align-self: stretch;
        overflow-wrap: break-word;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
    }

    h3{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 4rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
        margin-bottom: 3rem;
    }

    .block{
        height: auto;
        min-width: 30rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 10px;
        padding: 3rem 3rem;
    }

    span{
        font-size: 1.8rem;
        color: var(--title);
        line-height: 1;
    }

    .block p{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.4;
    }

    /* Projets */
    .container-p{
        min-height: 55rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
    }

    #flex-box-p{
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        height: 48rem;
    }

    .h{
        margin-left: 4rem;
    }

    .projets{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 2rem;
        scrollbar-width: none;
    }

    projets::-webkit-scrollbar{
        display: none;
    }

    .block-p{
        min-width: 32rem;
        height: 25rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 10rem;
        margin-right: 2rem;
        padding: .5rem;
    }

    .img-p{
        background-image: url(./img/bluetree.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 31rem;
        height: 24rem;
        border-radius: 10rem;
    }

    .a {
        background-image: url(./img/institutD.PNG);
    }

    .b {
        background-image: url(./img/donuts.png);
    }

    .c {
        background-image: url(./img/logo3d.png);
    }

    /* Contact */
    #contact{
        display: flex;
        align-items: center;
        height: 45rem;
        justify-content: center;
        margin-bottom: 5rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40rem;
    }

    .flex-c{
        display: flex;
        justify-content: space-between;
        width: 24rem;
    }

    .nomPrenom, .email, .message{
        display: flex;
        color: #FFF;
        flex-direction: column;
    }
    
    label{
        text-shadow: var(--titleShadow);
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    ::placeholder{
        font-size: .8rem;
        color: #f263639d;
        font-style: italic;
    }
    
    .nomPrenom input{
        width: 11rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);    
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    .email input{
        height: 2.8rem;
        width: 20rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .message textarea{
        height: 15rem;
        width: 100%;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    #envoyer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        font-size: 1.1rem;
        color: var(--title);
        border: .2rem solid var(--title);
        background: var(--bg);
        text-shadow: var(--titleShadow);
        border-radius: .5rem;
        margin-top: -1.5rem;
        margin-left: .7rem;
        padding: .3rem;
    }

    /* Bottom Navigation */
    #mobile-nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        bottom: 0;
        margin: 1.4rem 2rem;
    }

    .flex-mob{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .5rem;
        border-radius: 10rem;
        min-width: 34rem;
        background-color: var(--navBar);
        box-shadow: var(--navShadow);
    }

    .flex-mob li {
        list-style: none;
    }

    .flex-mob li a {
        text-decoration: none;
        display: flex;
        font-size: .8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: .8rem;
        color: transparent;
    }

    .fas{
        font-size: 2rem;
        color: var(--para);
        text-shadow: var(--titleShadow);
    }

    .git{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        left: 50%;
        width: 4.8rem;
        height: 4.8rem;
        margin-bottom: -2rem;
        border: red;
        background-color: #CBF23D;
        box-shadow: var(--titleShadow);
        z-index: 9;
    }

    .fab{
        font-size: 2.5rem;
        color: var(--para);
        text-shadow: var(--linkedinShadow);
    }

    #desktop-nav{
        display: none;
    }
    
}

@media screen and (min-width: 1280px) and (max-width: 6000px) {

    *{
        font-size: 62.5%;
        font-family: 'Balsamiq Sans', Arial, serif;
    }
    
    body{
        background-color: var(--bg);
        color: var(--para);
    }

    main{
        margin-left: 6.2rem;
    }

    /* Bottom Navigation */
    #mobile-nav{
        display: none;
    }

    #desktop-nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }

    .flex-desk{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        width: 6.2rem;
        background-color: var(--bg);
        box-shadow: var(--boxShadow);
    }

    .flex-desk li {
        transform: rotate(-90deg);
        list-style: none;
    }

    .flex-desk li a {
        text-decoration: none;
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        color: var(--title);
        text-shadow: var(--titleShadow);
    }
    .git{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        left: 70%;
        width: 7rem;
        height: 7rem;
        margin-bottom: -2rem;
        border: red;
        background-color: #CBF23D;
        box-shadow: var(--titleShadow);
        z-index: 9;
    }

    .fab{
        font-size: 4rem;
        color: var(--para);
        text-shadow: var(--linkedinShadow);
    }

    /* header */
    .test, .test3{
        display: none;
    }

    .head-flex {
        display: flex;
        height: 180vh;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
    }

    .head-flex p{
        max-width: 110rem;
        margin-left: 5rem;
        font-size: 15rem;
        letter-spacing: -0.17em;
        text-align: justify;
        overflow-wrap: anywhere;
        color: #C9505000;
        background-color: #000000A4;
        text-shadow: var(--paraShadow);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    .circle{
        display: flex;
        height: 55rem;
        width: 55rem;
        justify-content: center;
        align-items: center;
        background: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 100%;
        background-position: center;
        margin: 7rem 0;
        z-index: 1;
    }

    .curve{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img{
        background-image: url(./img/profil1.jpeg);
        box-shadow: var(--bgShadow);
        width: 53rem;
        height: 53rem;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    h1 {
        text-align: center;
        font-size: 4rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
    }

    .container{
        height: 140rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
        width: 100%;
    }
    .container-b{
        height: 120rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
        width: 100%;
    }
    
    .flex-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8rem 4rem;
    }

    h2{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 15rem;
        margin: 0 12rem 10rem 12rem;
        text-align: justify;
        line-height: 15rem;
        align-self: stretch;
        overflow-wrap: break-word;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
    }

    h3{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 4rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
        margin-bottom: 3rem;
    }

    .block{
        height: auto;
        min-width: 30rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        margin: 6rem;
        border-radius: 10px;
        padding: 3rem 3rem;
    }

    .block p{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
        padding: 8rem 4rem;
        line-height: 1.4;
    }

    span{
        font-size: 3.6rem;
        color: var(--title);
        line-height: 1;
    }

    /* Projets */
    .container-p{
        min-height: 100rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
    }

    #flex-box-p{
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        height: 85rem;
    }

    .h{
        margin-left: 14rem;
    }

    .projets{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 2rem;
        margin-left: 10rem;
        scrollbar-width: none;
    }

    .block-p{
        min-width: 62rem;
        height: 45rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 10rem;
        margin-right: 5rem;
        padding: .5rem;
    }

    .img-p{
        background-image: url(./img/bluetree.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 61rem;
        height: 44rem;
        border-radius: 10rem;
    }

    .a {
        background-image: url(./img/institutD.PNG);
    }

    .b {
        background-image: url(./img/donuts.png);
    }

    .c {
        background-image: url(./img/logo3d.png);
    }

    /* Contact */
    #contact{
        display: flex;
        align-items: center;
        height: 80rem;
        justify-content: center;
        margin-bottom: 5rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70rem;
        width: 60%;
    }

    .flex-c{
        display: flex;
        justify-content: space-between;
        width: 72rem;
    }

    .nomPrenom, .email, .message{
        display: flex;
        color: #FFF;
        flex-direction: column;
    }
    
    label{
        text-shadow: var(--titleShadow);
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    ::placeholder{
        font-size: 1rem;
        color: #f263639d;
        font-style: italic;
    }
    
    .nomPrenom input{
        width: 30rem;
        height: 5rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);    
        padding: 0.8rem 2rem;
        font-size: 2rem;
    }

    .email input{
        width: 30rem;
        height: 5rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .message textarea{
        height: 30rem;
        width: 72rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 2rem 2rem;
        font-size: 2rem;
    }

    #envoyer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        font-size: 2rem;
        color: var(--title);
        border: .2rem solid var(--title);
        background: var(--bg);
        text-shadow: var(--titleShadow);
        border-radius: .5rem;
        margin-left: 1rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 1279px){
    *{
        font-size: 62.5%;
        font-family: 'Balsamiq Sans', Arial, serif;
    }
    
    body{
        background-color: var(--bg);
        color: var(--para);
    }

    .head-flex {
        display: flex;
        height: 90rem;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0 3rem 0;
    }

    .test, .test2{
        display: none;
    }

    .head-flex p{
        max-width: 70rem;
        font-size: 9rem;
        letter-spacing: -0.17em;
        text-align: justify;
        overflow-wrap: anywhere;
        color: #C9505000;
        background-color: #000000A4;
        text-shadow: var(--paraShadow);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }

    .circle{
        display: flex;
        height: 35rem;
        width: 35rem;
        justify-content: center;
        align-items: center;
        background: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 100%;
        background-position: center;
        margin: 3.2rem 0rem;
        z-index: 1;
    }

    .curve{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img{
        background-image: url(./img/profil1.jpeg);
        box-shadow: var(--bgShadow);
        width: 33rem;
        height: 33rem;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    h1{
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 2rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
    }
    .container{
        height: 125rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
        width: 100%;
    }
    .container-b{
        height: 121rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
        width: 100%;
    }
    
    .flex-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8rem 4rem;
    }

    h2{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 10.5rem;
        margin: 0 8rem 0rem 8rem;
        text-align: justify;
        line-height: 15rem;
        align-self: stretch;
        overflow-wrap: break-word;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
    }

    h3{
        font-family: 'Vast Shadow', 'Balsamiq Sans';
        font-size: 4rem;
        color: var(--title);
        text-shadow: var(--titleShadow);
        font-style: normal;
        font-weight: normal;
        margin-bottom: 3rem;
    }

    .block{
        height: auto;
        min-width: 30rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        margin: 6rem;
        border-radius: 10px;
        padding: 3rem 3rem;
    }

    .block p{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
        padding: 8rem 4rem;
        line-height: 1.4;
    }

    span{
        font-size: 3.6rem;
        color: var(--title);
        line-height: 1;
    }

    .container-p{
        min-height: 70rem;
        border-radius: 0 0 5rem 5rem;
        background: #012E40;
        box-shadow: var(--radiusShadow);
        margin-bottom: 5.5rem;
    }

    #flex-box-p{
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        height: 60rem;
    }

    .h{
        margin-left: 4rem;
    }

    .projets{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 2rem;
        scrollbar-width: none;
    }

    projets::-webkit-scrollbar{
        display: none;
    }

    .block-p{
        min-width: 42rem;
        height: 30rem;
        background-color: var(--bgShadow);
        box-shadow: var(--boxShadow);
        border-radius: 10rem;
        margin-right: 4rem;
        padding: .5rem;
    }

    .img-p{
        background-image: url(./img/bluetree.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 41rem;
        height: 29rem;
        border-radius: 10rem;
    }

    .a {
        background-image: url(./img/institutD.PNG);
    }

    .b {
        background-image: url(./img/donuts.png);
    }

    .c {
        background-image: url(./img/logo3d.png);
    }

    /* Contact */
    #contact{
        display: flex;
        align-items: center;
        height: 60rem;
        justify-content: center;
        margin-bottom: 5rem;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50rem;
    }

    .flex-c{
        display: flex;
        justify-content: space-between;
        width: 50rem;
    }

    .nomPrenom, .email, .message{
        display: flex;
        color: #FFF;
        flex-direction: column;
    }
    
    label{
        text-shadow: var(--titleShadow);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    ::placeholder{
        font-size: 1rem;
        color: #f263639d;
        font-style: italic;
    }
    
    .nomPrenom input{
        width: 20rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);    
        padding: 1.3rem 2rem;
        font-size: 1.2rem;
    }

    .email input{
        height: 4rem;
        width: 30rem;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 1.3rem 2rem;
        font-size: 1.2rem;
    }

    .message textarea{
        height: 15rem;
        width: 100%;
        border: none;
        border-radius: 2rem;
        color: var(--title);
        background: var(--bg);
        box-shadow: var(--innerShadow);
        outline-color: var(--title);   
        padding: 2rem 2rem;
        font-size: 1.2rem;
    }

    #envoyer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13rem;
        font-size: 1.4rem;
        color: var(--title);
        border: .2rem solid var(--title);
        background: var(--bg);
        text-shadow: var(--titleShadow);
        border-radius: .5rem;
        margin-top: -1.5rem;
        margin-left: .7rem;
        padding: .5rem;
    }

    #mobile-nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        bottom: 0;
        left: 50;
        margin: 1.4rem 2rem;
    }

    .flex-mob{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: .5rem;
        border-radius: 10rem;
        min-width: 50rem;
        background-color: var(--navBar);
        box-shadow: var(--navShadow);
    }

    .flex-mob li {
        list-style: none;
    }

    .flex-mob li a {
        text-decoration: none;
        display: flex;
        font-size: .8rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: .8rem;
        color: transparent;
    }

    .fas{
        font-size: 2rem;
        color: var(--para);
        text-shadow: var(--titleShadow);
    }

    .git{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        left: 50%;
        width: 4.8rem;
        height: 4.8rem;
        margin-bottom: -2rem;
        border: red;
        background-color: #CBF23D;
        box-shadow: var(--titleShadow);
        z-index: 9;
    }

    .fab{
        font-size: 2.5rem;
        color: var(--para);
        text-shadow: var(--linkedinShadow);
    }

    #desktop-nav{
        display: none;
    }

}
